@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

/* =========================
   CSS BOILERPLATE
   ========================= */

:root {
  /* Colors */
  --color-white: hsl(0, 0%, 100%);
  --color-slate-300: hsl(212, 45%, 89%);
  --color-slate-500: hsl(216, 15%, 48%);
  --color-slate-900: hsl(218, 44%, 22%);

  /* Typography */
  --font-size-body: 15px;
}

/* 1. Box sizing reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margins */
* {
  margin: 0;
  padding: 0;
}

/* 3. Root defaults */
html {
  font-size: 16px;
}

/* 4. Body defaults */
body {
  min-height: 100vh;
  font-family: "Outfit", sans-serif;
  font-size: var(--font-size-body);
  color: var(--color-slate-900);
  background-color: var(--color-slate-300);
}

/* 5. Media elements */
img {
  display: block;
  max-width: 100%;
}

.container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.inner__container {
  width: 60%;
  max-width: 320px;
  background-color: var(--color-white);
  border-radius: 15px;
  padding: 16px;
}

.img__container img {
  width: 100%;
  border-radius: 12px;
}

.text_container {
  text-align: center;
  padding: 16px 8px 8px;
}

.text_container h2 {
  font-size: 1.25rem;
  font-weight: 700;
  margin-bottom: 12px;
}

.text_container p {
  font-size: 0.9375rem;
  color: var(--color-slate-500);
  line-height: 1.4;
}
