*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

:root {
  --color-Green: hsl(75, 94%, 57%);
  --color-White: hsl(0, 0%, 100%);
  --color-Grey-light-700: hsl(0, 0%, 20%);
  --color-Grey-medium-800: hsl(0, 0%, 12%);
  --color-Grey-dark-900: hsl(0, 0%, 8%);

  --font-weight-light: 400;
  --font-weight-medium: 600;
  --font-weight-bold: 700;
}

body {
  font-family: "Inter", sans-serif;
  min-height: 100dvh;
  background-color: var(--color-Grey-dark-900);
  color: var(--color-White);
  font-weight: var(--font-weight-light);

  display: flex;
  align-items: center;
  justify-content: center;
  padding-inline: 1rem;
}

img {
  display: block;
  width: 100%;
}

a {
  color: inherit;
  font: inherit;
  text-decoration: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

html {
  font-size: 14px;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.container {
  width: 100%;
  max-width: 327px;
  padding: 24px;
  border-radius: 15px;
  background-color: var(--color-Grey-medium-800);
}

.text__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 24px;
}

.text__container img {
  width: 88px;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
}

.text__container h2 {
  font-size: 24px;
  font-weight: var(--font-weight-medium);
}

.button__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  margin-block: 20px;
}

.btn {
  background-color: var(--color-Grey-light-700);
  padding-block: 1rem;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  width: 100%;
  text-align: center;
  outline: none;
  border: none;
  transition: background-color 0.3s ease, color 0.3s ease;
  font-weight: var(--font-weight-bold);
}

.btn:hover,
.btn:focus-visible {
  background-color: var(--color-Green);
  color: var(--color-Grey-dark-900);
}

.location {
  margin-top: -1rem;
  color: var(--color-Green);
  font-weight: var(--font-weight-bold);
}

@media (min-width: 768px) {
  .container {
    max-width: 384px;
    padding: 32px;
  }
}
