:root {
  --primary-red: hsl(0, 78%, 62%);
  --primary-cyan: hsl(180, 62%, 55%);
  --primary-orange: hsl(34, 97%, 64%);
  --primary-blue: hsl(212, 86%, 64%);
  /* Neutral */
  --neutral-grey-500: hsl(234, 12%, 34%);
  --neutral-grey-400: hsl(212, 6%, 44%);
  --clr-white: hsl(0, 0%, 100%);

  --fw-regular: 200;
  --fw-medium: 400;
  --fw-bold: 600;
}

/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
*:not(dialog) {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

html {
  font-family: "Poppins", sans-serif;
  font-size: 0.9375rem;
  font-weight: var(--fw-regular);
  color: var(--neutral-grey-400);
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
  color: var(--neutral-grey-400);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
  color: var(--neutral-grey-500);
  font-weight: var(--fw-regular);
}

span {
  font-weight: var(--fw-bold);
}

.header {
  text-align: center;
  margin-block: 4rem;
}

.text__container {
  max-width: 1100px;
  margin-inline: auto;
}

.text__container--sm {
  max-width: 550px;
}

.text__container p {
  padding-block-start: 0.7rem;
  font-weight: var(--fw-medium);
}

.main__container {
  padding: 2rem;
}

.layout__container {
  max-width: 1100px;
  display: flex;
  gap: 2rem;
}

@media (max-width: 922px) {
  .layout__container {
    flex-direction: column;
  }
}

.layout__container > * {
  flex: 1;
}

.card__container {
  display: grid;
  align-content: center;
  gap: 2rem;
}

.card {
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
  border-top: 4px solid;
}

.card h2 {
  font-weight: var(--fw-bold);
}

.card p {
  font-weight: var(--fw-medium);
  padding-block-start: 0.4rem;
}

.card__img {
  margin-left: auto;
  padding-block-start: 2rem;
}

.border__blue {
  border-color: var(--primary-cyan);
}

.border__red {
  border-color: var(--primary-red);
}

.border__yellow {
  border-color: var(--primary-orange);
}

.border__dark-blue {
  border-color: var(--primary-blue);
}

@media (max-width: 480px) {
  .text__container h1 {
    font-size: 1.5rem;
  }
}
